node_modules
/public/hot
/vendor
/public/storage
/storage/*.key
/.idea
/.vscode
/nbproject
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
composer.lock
.phpunit.result.cache
/storage/keys/*
/storage/app/scripts/*
/resources/views/extensions/*
