[Unit]
Description=Liman Background Work Service
After=liman.service

[Service]
Type=simple

User=liman
WorkingDirectory=/liman
ExecStart=/usr/bin/php /liman/server/artisan queue:listen --timeout=0 --tries=1
Restart=on-failure

[Install]
WantedBy=multi-user.target
