[Unit]
Description=Liman Background Work Service
After=nginx.service

[Service]
Type=simple

User=liman
WorkingDirectory=/opt/liman
ExecStart=/usr/bin/python3 -m http.server
ExecStop=/usr/bin/php /opt/liman/server/artisan down
Restart=on-failure

[Install]
WantedBy=multi-user.target