body {
    background-color: rgb(43, 43, 45);
    color: white;
}

.modal-content, .card, .card-body {
    background-color: #2b2b2d;
}

pre {
    color: white
}

.navbar .dropdown-menu {
    background-color: rgba(255, 255, 255, .1);
    border-radius: 20px;
}

.chart{
    background-color: #343a40;
}