.skin-dark .main-header{
    border-bottom: 0px;
}

.skin-dark .content-wrapper {
    background-color: #6c757d !important;
}
  
.skin-dark .content-wrapper,
.skin-dark .content-wrapper > a {
    color: #ffffff !important;
}
  
.skin-dark .content-wrapper.btn:hover {
    border-color: #545b62;
    color: #ececec;
}
  
.skin-dark .content-wrapper.btn:not(:disabled):not(.disabled):active, .skin-dark .content-wrapper.btn:not(:disabled):not(.disabled).active, .skin-dark .content-wrapper.btn:active, .skin-dark .content-wrapper.btn.active {
    background-color: #545b62 !important;
    border-color: #4e555b;
    color: #ffffff;
}

.skin-dark .info-box, 
.skin-dark .card, 
.skin-dark .overlay,
.skin-dark .dropdown-menu {
  background-color: #343a40 !important;
}

.skin-dark .info-box, 
.skin-dark .card, 
.skin-dark .overlay,
.skin-dark .dropdown-menu,

.skin-dark .info-box > a,
.skin-dark .card > a,
.skin-dark .overlay > a,
.skin-dark .dropdown-menu > a
{
  color: #ffffff !important;
}

.skin-dark .info-box.btn:hover,
.skin-dark .card.btn:hover,
.skin-dark .overlay.btn:hover,
.skin-dark .dropdown-menu.btn:hover 
{
  border-color: #1d2124;
  color: #ececec;
}

.bg-dark.btn:not(:disabled):not(.disabled):active, .bg-dark.btn:not(:disabled):not(.disabled).active, .bg-dark.btn:active, .bg-dark.btn.active {
  background-color: #1d2124 !important;
  border-color: #171a1d;
  color: #ffffff;
}

.skin-dark .info-box, 
.skin-dark .card, 
.skin-dark .overlay,
.skin-dark .dropdown-menu {
    background-color: #343a40 !important;
}
  
a.skin-dark .info-box:hover, 
a.skin-dark .info-box:focus,
button.skin-dark .info-box:hover,
button.skin-dark .info-box:focus,

a.skin-dark .card:hover, 
a.skin-dark .card:focus,
button.skin-dark .card:hover,
button.skin-dark .card:focus,

a.skin-dark .overlay:hover, 
a.skin-dark .overlay:focus,
button.skin-dark .overlay:hover,
button.skin-dark .overlay:focus,

a.skin-dark .dropdown-menu:hover, 
a.skin-dark .dropdown-menu:focus,
button.skin-dark .dropdown-menu:hover,
button.skin-dark .dropdown-menu:focus {
    background-color: #1d2124 !important;
}

.skin-dark.card .card-header {
    border-color: #383f45;
}

.skin-dark.card,
.skin-dark.card .card-body {
  color: #ffffff;
}

.skin-dark .navbar-light {
    background-color: #343a40;
}

.skin-dark .navbar-light .navbar-brand {
  color: #ffffff;
}

.skin-dark .navbar-light .navbar-brand:hover, .skin-dark .navbar-light .navbar-brand:focus {
  color: #ffffff;
}

.skin-dark .navbar-light .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.75);
}

.skin-dark .navbar-light .navbar-nav .nav-link:hover, .skin-dark .navbar-light .navbar-nav .nav-link:focus {
  color: white;
}

.skin-dark .navbar-light .navbar-nav .nav-link.disabled {
  color: rgba(255, 255, 255, 0.25);
}

.skin-dark .navbar-light .navbar-nav .show > .nav-link,
.skin-dark .navbar-light .navbar-nav .active > .nav-link,
.skin-dark .navbar-light .navbar-nav .nav-link.show,
.skin-dark .navbar-light .navbar-nav .nav-link.active {
  color: #ffffff;
}

.skin-dark .navbar-light .navbar-toggler {
  color: rgba(255, 255, 255, 0.75);
  border-color: rgba(255, 255, 255, 0.1);
}

.skin-dark .navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.75)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

.skin-dark .navbar-light .navbar-text {
  color: rgba(255, 255, 255, 0.75);
}

.skin-dark .navbar-light .navbar-text a {
  color: #ffffff;
}

.skin-dark .navbar-light .navbar-text a:hover, .skin-dark .navbar-light .navbar-text a:focus {
  color: #ffffff;
}


.skin-dark .navbar-light .form-control-navbar,
.skin-dark .navbar-light .btn-navbar {
  background-color: rgba(255, 255, 255, 0.2);
  border: 0;
}

.skin-dark .navbar-light .form-control-navbar::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.skin-dark .navbar-light .form-control-navbar::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.skin-dark .navbar-light .form-control-navbar:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.skin-dark .navbar-light .form-control-navbar::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.skin-dark .navbar-light .form-control-navbar::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.skin-dark .navbar-light .form-control-navbar + .input-group-append > .btn-navbar {
  color: rgba(255, 255, 255, 0.6);
}

.skin-dark .navbar-light .form-control-navbar:focus,
.skin-dark .navbar-light .form-control-navbar:focus + .input-group-append .btn-navbar {
  background-color: rgba(255, 255, 255, 0.6);
  border: 0 !important;
  color: #343a40;
}
