.nav-tabs .nav-link {
  border-radius: 0.25rem;
}

.nav-tabs .nav-link.active,
.nav-tabs .show > .nav-link {
  color: #ffffff;
  background-color: #007bff;
}

.nav-tabs {
  border-bottom: 0px;
}

.split {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
}
.gutter {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50%;
}
.gutter.gutter-horizontal {
  cursor: col-resize;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
}
.gutter.gutter-vertical {
  cursor: row-resize;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=");
}
.split.split-horizontal,
.gutter.gutter-horizontal {
  height: 100%;
  float: left;
}

.info-box-content {
  overflow: hidden;
}

table.dataTable tbody tr.selected {
  background-color: #b0bed9;
}

.customAlert {
  border-radius: 0px;
  text-align: left;
}

.error-page > .error-content {
  margin-left: 150px;
}

@media (max-width: 767.98px) {
  .error-page > .error-content {
    margin-left: 0;
  }
}

.card-header {
  background-color: #efefef;
}

#ouTreeWrapper {
  padding: 0;
}

.jstree-default .jstree-node {
  margin-left: 12px !important;
}